---
layout: base
title: Home
intromsg: Helping advance the architecture space in Iraq
whowearemsg: A registered student club in Baghdad run by students of Iraqi architectural universities. We aim to create a contemporary architectural community that aims to empower youth and is concerned with issues of cultural heritage, arts and environmentally friendly architecture.
whatwedomsg: "Young Architects Club conducts various activities, initiatives, campaigns, and programs in the hope of leaving a positive mark in the architecture space of Iraq"
joinurl: ""
joinmsg: Become a Member of Young Architects Foundation and help make a difference in the architecture space of Iraq
contactmsg: "Get in touch with Young Architects Foundation through our Email:"
---
<div class="vflex homepageDiv homepageIntro centerContent">
  <div class="mainImage" style="background-image: url({{ 'assets/images/main1.jpg' | relative_url}});"></div>
  <div class="centerContent transition">
    <h1>{{ page.intromsg }}</h1>
    <a href="#whoWeAre" class="bubbleButton">Learn More</a>
  </div>
</div>

<div class="bgPaper centerContent transition" style="min-height: 62vh; padding-top: 4rem; padding-bottom: 1rem;">
  <div class="contentDiv mainpageSection" style="padding-top: 15px;">
    <a
      href="{{ '/articles' | relative_url }}"
      class="boxContainer"
      style="max-width: min-content; padding: 0 7px;">
      <h1>Articles</h1>
    </a>
    {% if site.posts.size > 0 %}
      <div>
        <div id="postPreviewsContainerH">
          {% assign big_post = site.posts.first %}
          {% include post-box.html post=big_post %}

          <div id="postPreviewsContainerV">
            {% for post in site.posts offset: 1 limit: 2 %}
              {% include post-box.html post=post %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% else %}
      <h3>No Articles Yet</h3>
    {% endif %}

  </div>
</div>

<div class="centerContent transition mainInfoContainer" style="background-image: url({{ 'assets/images/cave.jpg' | relative_url}});">
  <div class="shadeGradient" style="background: linear-gradient(90deg, black 0%, rgb(102, 102, 102) 50%, black 100%);"></div>
  <div id="whoWeAre" class="contentDiv mainInfoTexts">
    <h1>Who We Are</h1>
    <p>{{ page.whowearemsg }}</p>
  </div>
</div>

<div class="bgPaper centerContent transition" style="min-height: 62vh">
  <div class="contentDiv mainpageSection">
    <div style="display: flex; flex-direction: row; gap: 1rem;">
    <a
      href="{{ '/partners' | relative_url }}"
      class="boxContainer grayscaleHover"
      style="max-width: max-content; padding: 0 0.4rem; line-height: 1.3; margin-bottom: 2rem; margin-right: auto;">
      <h1>Our Partners</h1>
    </a>

    <input type="button" class="boxContainer carouselButton grayscaleHover" value="{{ site.page_text_prev }}" id="carousel-left" />

    <input type="button" class="boxContainer carouselButton grayscaleHover" value="{{ site.page_text_next }}" id="carousel-right" />
  </div>
    <div id="partnerLinksContainer" class="carousel">
      {% assign partnersIterationCount = site.partners.size | divided_by: 2 %}
        {% for i in (1..partnersIterationCount) %}

          {% assign jOdd = i | minus: 1 | times: 2 %}
          {% assign jEven = jOdd | plus: 1 %}
          {% assign partnerEven = site.partners[jEven] %}
          {% assign partnerOdd = site.partners[jOdd] %}

          <div class="carouselBox">
            <a class="boxContainer partnerBox yesSelect grayscaleHover" name="{{ partnerOdd.title }}|{{ partnerOdd.titlear }}">
              <img src="{{ partnerOdd.image }}" class="noSelect">
            </a>
            <a class="boxContainer partnerBox yesSelect grayscaleHover" name="{{ partnerEven.title }}|{{ partnerEven.titlear }}">
              <img src="{{ partnerEven.image }}" class="noSelect">
            </a>
          </div>

      {% endfor %}
    </div>

    <section>
      <div id="move" class="boxContainer noSelect">
        <h4 class="content-ar" dir="rtl" style="display: none;">TEST AR</h4>
        <h4 class="content-en">TEST EN</h4>
      </div>
    </section>

    <script src="{{ 'assets/js/partnerhover.js' | relative_url }}"></script>

    <script>
        const carousel = document.getElementById("partnerLinksContainer");
        const leftBtn = document.getElementById("carousel-left");
        const rightBtn = document.getElementById("carousel-right");

        function isOverflowing(element) {
          return element.scrollWidth > element.clientWidth;
        }

        function updateButtonsVisibility() {
          if (isOverflowing(carousel)) {
            rightBtn.style.display = 'block';
            leftBtn.style.display = 'block';
            updateButtonsEnabled();
          }
          else {
            rightBtn.style.display = 'none';
            leftBtn.style.display = 'none';
          }
        }
        function updateButtonsEnabled() {
          leftBtn.disabled = carousel.scrollLeft <= 0;
          rightBtn.disabled = carousel.scrollLeft >= (carousel.scrollWidth - carousel.clientWidth);
        }

        updateButtonsVisibility()

        leftBtn.onclick=function scrollDown() {
          var nextL = carousel.scrollLeft - 250;
          carousel.scrollLeft = nextL;
          rightBtn.disabled = false;
          if (nextL <= 0) {
            leftBtn.disabled = true;
          }
        }

        rightBtn.onclick=function scrollDown() {
          var nextL = carousel.scrollLeft + 250;
          carousel.scrollLeft = nextL;
          leftBtn.disabled = false;
          if (nextL >= (carousel.scrollWidth - carousel.clientWidth)) {
            rightBtn.disabled = true;
          }
        }

        window.addEventListener('resize', function(event) {
          updateButtonsVisibility();
        }, true);

    </script>
  </div>
</div>

<div class="centerContent transition mainInfoContainer" style="background-image: url({{ 'assets/images/crowd.jpg' | relative_url}});">
  <div class="shadeGradient" style="background: linear-gradient(0deg, black 0%, white 100%);"></div>
  <div id="whatWeDo" class="contentDiv mainInfoTexts">
    <h1>What We Do</h1>
    <p>{{ page.whatwedomsg }}</p>
    <a href="{{ 'goals' | relative_url }}" class="bubbleButton transition">Learn More</a>
  </div>
</div>

<div class="centerContent transition bgBlackColor" id="callToAction">
  <div class="contentDiv callToActionGrid" id="join">
    <h1 class="transition">Join us</h1>
    <section>
      <p class="transition">{{ page.joinmsg }}</p>
      <a href="{{ page.joinurl }}" class="bubbleButton transition">Membership Form</a>
    </section>
  </div>
  <hr style="width: min(max(70vw, 1000px), 100vw); color: white;">
  <div class="contentDiv callToActionGrid">
    <section>
      <p class="transition">{{ page.contactmsg }}</p>
      <h2 class="transition">{{ site.email }}</h2>
    </section>
    <h1 class="transition">Contact us</h1>
  </div>
</div>