---
layout: base
title: Home
---
<div class="bgPaper centerContent">
  <div class="contentDiv" style="padding-top: 15px;">
    <a
      href="{{ '/articles' | relative_url }}"
      class="boxContainer"
      style="max-width: min-content; padding: 0 7px;">
      <h1 style="font-size: 32px;">Articles</h1>
    </a>
    {% if site.posts.size > 0 %}
      <div>
        <div id="postPreviewsContainerH">
          {% assign big_post = site.posts.first %}
          {% include post-box.html post=big_post %}

          <div id="postPreviewsContainerV">
            {% for post in site.posts offset: 1 limit: 2 %}
              {% include post-box.html post=post %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% else %}
      <h3>No Articles Yet</h3>
    {% endif %}

  </div>
</div>

<div class="bgMainColor centerContent">
  <div id="whoWeAreDiv" class="contentDiv">
    <h1>Who We Are</h1>
    <p>
      A registered student club in Baghdad run by students of Iraqi architectural universities. We aim to create a contemporary architectural community that aims to empower youth and is concerned with issues of cultural heritage, arts and environmentally friendly architecture.
    </p>
  </div>
</div>

<div class="contentBackground">
  <div class="contentDiv bgPaper vflex homepageDiv">
    <img src="{{ 'assets/images/main_background_top.png' | relative_url }}">
    <img src="{{ 'assets/images/main_background_bottom.png' | relative_url }}">
    <div class="bgMainColor mainpageTextBlock" style="font-size: 1.4em; top: 0.93%; min-width: 0;">
      <p>
        Our Goals
      </p>
    </div>
    <div class="bgMainColor mainpageTextBlock" style="top: 17.04%; right: 7.85%; max-width: 580px;">
      <p>
        Encouraging students to participate in student and community activities in the fields related to architecture, environment, and arts
      </p>
    </div>
    <div class="bgMainColor mainpageTextBlock" style="left: 77px; top: 30.6%; max-width: 620px;">
      <p>
        Promoting cooperation and guidance through joint work among students, educational institutions, and experts
      </p>
    </div>
    <div class="bgMainColor mainpageTextBlock" style="right: 1.814%; top: 64.08%; max-width: 580px;">
      <p>
        Providing students with the knowledge and necessary skills to make use of after graduation
      </p>
    </div>
    <div class="bgMainColor mainpageTextBlock" style="left: 9.79%; top: 74.44%; max-width: 640px;">
      <p>
        Launching a platform on social media to raise awareness and spread architectural content and activities
      </p>
    </div>
  </div>

  <div class="contentDiv bgPaper vflex homepageDiv">
    <img src="{{ 'assets/images/main_background_contact.png' | relative_url }}">
    <div id="homepageContactDiv">
      <img src="{{ 'assets/images/logo_large.png' | relative_url }}">
      <h1 class="textMain">Contact Us</h1>
      <h2>{{ site.email }}</h2>
    </div>
  </div>
</div>