---
title: Partners
short_name: partners
---
<section id="partnersPage">
  {% include language-button.html %}
  <div class="content-en">
    <h1>Partner and Funder Services</h1>
    <p>We are a community of young architects working on developing urban and social projects led by the next generation. We connect creativity, execution, and social purpose, transforming ideas into tangible impact in cities.</p>
    <br>

    <h1>What We Offer</h1>
    <p>General marketing strategies and smart media campaigns that showcase the identity of a place. 
      Design and implementation of on-site architectural projects. Management of youth-led urban initiatives.
      Production of urban documentary films.
      Applied architectural training for university students</p>
    <br>

    <h1>Why Do We Partner?</h1>
    <p>Because we work on the ground, with people, and for cities.</p>
    <p>Because we build real partnerships, not temporary projects.</p>
    <p>Because we know how to connect institutions with youth in impactful ways.</p>
    <br>

    <h1>Our Partners:</h1>
  </div>

  <div class="content-ar" dir="rtl">
    <h1>خدمات الشركاء والممولين</h1>
    <p>نحن مجتمع من المعماريين الشباب نعمل على تطوير مشاريع عمرانية ومجتمعية يقودها الجيل القادم. نربط بين الإبداع، التنفيذ، والهدف الاجتماعي، ونحوّل الفكرة إلى أثر واقعي في المدن</p>
    <br>

    <h1>ما نقدمه :</h1>
    <p>خطط تسويقية عامة وحملات إعلامية ذكية تُظهر هوية المكان. تصميم وتنفيذ مشاريع معمارية ميدانية. إدارة مبادرات حضرية يقودها الشباب. إنتاج إعلانات وأفلام وثائقية عمرانية. تدريب معماري تطبيقي لطلبة الجامعات</p>
    <br>

    <h1>لماذا نتعاون؟</h1>
    <p>لأننا نعمل من الميدان، مع الناس، ومن أجل المدن.</p>
    <p>لأننا نبني شراكات حقيقية، لا مشاريع مؤقتة.</p>
    <p>لأننا نعرف كيف نربط المؤسسات بالشباب بطرق مؤثرة.</p>
    <br>

    <h1>شركاؤنا:</h1>
  </div>
  <div id="partnerLinksContainer">
    {% for partner in site.partners %}
      <a class="boxContainer partnerBox yesSelect" name="{{ partner.title }}|{{ partner.titlear }}">
        <img src="{{ partner.image }}" class="noSelect">
      </a>
    {% endfor %}
  </div>

  <div id="move" class="boxContainer noSelect">
    <h4 class="content-ar" dir="rtl">TEST AR</h4>
    <h4 class="content-en">TEST EN</h4>
  </div>
</section>

<script>
  let clickShow = false;
  const move = document.getElementById("move");

  document.addEventListener("pointerdown", (event) => {
    console.log(event.target);
    if (!event.target.closest(".partnerBox")) {
      move.style.setProperty('visibility', 'hidden');
    }
    else {
      clickShow = true;
      setInformation(event.target);
      move.style.setProperty('visibility', 'visible');
      showMove(event.clientX, event.clientY, 0);
    }
  })

  document.body.onpointermove = (event) => {
    const { clientX, clientY } = event;

    const closestElement = document.elementFromPoint(clientX, clientY);

    if (!closestElement.closest(".partnerBox")) {
      move.style.setProperty('visibility', 'hidden');
    }
    else {
      setInformation(closestElement);
      move.style.setProperty('visibility', 'visible');
      showMove(clientX, clientY, 0);
    }
  }

  document.onscroll = (event) => {
    if (clickShow) {
      clickShow = false;
      move.style.setProperty('visibility', 'hidden');
    }
  }

  function setInformation(element) {
    move.getElementsByClassName("content-en")[0].textContent = element.name.split("|")[0];
    move.getElementsByClassName("content-ar")[0].textContent = element.name.split("|")[1];
  }

  function showMove(x, y, dur) {
    x = Math.min(x, document.body.clientWidth - move.clientWidth - 32);

    move.animate({
      left: `${x + 16}px`,
      top: `${y}px`,

    }, {duration: dur, fill: "forwards"})
  }
</script>