---
title: Partners
short_name: partners
---
<section id="partnersPage">
  {% include language-button.html %}
  <div class="content-en">
    <h1>Partner and Funder Services</h1>
    <p>We are a community of young architects working on developing urban and social projects led by the next generation. We connect creativity, execution, and social purpose, transforming ideas into tangible impact in cities.</p>
    <br>

    <h1>What We Offer</h1>
    <p>General marketing strategies and smart media campaigns that showcase the identity of a place.
      Design and implementation of on-site architectural projects. Management of youth-led urban initiatives.
      Production of urban documentary films.
      Applied architectural training for university students</p>
    <br>

    <h1>Why Do We Partner?</h1>
    <p>Because we work on the ground, with people, and for cities.</p>
    <p>Because we build real partnerships, not temporary projects.</p>
    <p>Because we know how to connect institutions with youth in impactful ways.</p>
    <br>

    <h1>Our Partners:</h1>
  </div>

  <div class="content-ar" dir="rtl">
    <h1>خدمات الشركاء والممولين</h1>
    <p>نحن مجتمع من المعماريين الشباب نعمل على تطوير مشاريع عمرانية ومجتمعية يقودها الجيل القادم. نربط بين الإبداع، التنفيذ، والهدف الاجتماعي، ونحوّل الفكرة إلى أثر واقعي في المدن</p>
    <br>

    <h1>ما نقدمه :</h1>
    <p>خطط تسويقية عامة وحملات إعلامية ذكية تُظهر هوية المكان. تصميم وتنفيذ مشاريع معمارية ميدانية. إدارة مبادرات حضرية يقودها الشباب. إنتاج إعلانات وأفلام وثائقية عمرانية. تدريب معماري تطبيقي لطلبة الجامعات</p>
    <br>

    <h1>لماذا نتعاون؟</h1>
    <p>لأننا نعمل من الميدان، مع الناس، ومن أجل المدن.</p>
    <p>لأننا نبني شراكات حقيقية، لا مشاريع مؤقتة.</p>
    <p>لأننا نعرف كيف نربط المؤسسات بالشباب بطرق مؤثرة.</p>
    <br>

    <h1>شركاؤنا:</h1>
  </div>

  <div class="carouselSize" style="display: flex; flex-direction: row; gap: 1rem; height: auto; justify-content: flex-end;">
    <button type="button" class="boxContainer carouselButton grayscaleHover" id="carousel-left">
      <p>{{ site.page_text_prev }}</p>
    </button>

    <button type="button" class="boxContainer carouselButton grayscaleHover" id="carousel-right">
      <p>{{ site.page_text_next }}</p>
    </button>
  </div>
  <div id="partnerLinksContainer" class="carousel">
    {% assign partnersIterationCount = site.partners.size | divided_by: 2 %}
    {% for q in (1..5) %}
      {% for i in (1..partnersIterationCount) %}

        {% assign jOdd = i | minus: 1 | times: 2 %}
        {% assign jEven = jOdd | plus: 1 %}
        {% assign partnerEven = site.partners[jEven] %}
        {% assign partnerOdd = site.partners[jOdd] %}

        <div class="carouselBox">
          <a class="boxContainer partnerBox yesSelect grayscaleHover" name="{{ partnerOdd.title }}|{{ partnerOdd.titlear }}">
            <img src="{{ partnerOdd.image }}" class="noSelect">
          </a>
          <a class="boxContainer partnerBox yesSelect grayscaleHover" name="{{ partnerEven.title }}|{{ partnerEven.titlear }}">
            <img src="{{ partnerEven.image }}" class="noSelect">
          </a>
        </div>

      {% endfor %}
    {% endfor %}
  </div>

    <section>
      <div id="move" class="boxContainer noSelect">
        <h4 class="content-ar" dir="rtl">TEST AR</h4>
        <h4 class="content-en">TEST EN</h4>
      </div>
    </section>

    <script src="{{ 'assets/js/partnerhover.js' | relative_url }}"></script>

    <script>
        const carousel = document.getElementById("partnerLinksContainer");
        const leftBtn = document.getElementById("carousel-left");
        const rightBtn = document.getElementById("carousel-right");

        function isOverflowing(element) {
          return element.scrollWidth > element.clientWidth;
        }

        function updateButtonsVisibility() {
          if (isOverflowing(carousel)) {
            rightBtn.style.display = 'block';
            leftBtn.style.display = 'block';
            updateButtonsEnabled();
          }
          else {
            rightBtn.style.display = 'none';
            leftBtn.style.display = 'none';
          }
        }
        function updateButtonsEnabled() {
          leftBtn.disabled = carousel.scrollLeft <= 0;
          rightBtn.disabled = carousel.scrollLeft >= (carousel.scrollWidth - carousel.clientWidth);
        }

        updateButtonsVisibility()

        leftBtn.onclick=function scrollDown() {
          var nextL = carousel.scrollLeft - 250;
          carousel.scrollLeft = nextL;
          rightBtn.disabled = false;
          if (nextL <= 0) {
            leftBtn.disabled = true;
          }
        }

        rightBtn.onclick=function scrollDown() {
          var nextL = carousel.scrollLeft + 250;
          carousel.scrollLeft = nextL;
          leftBtn.disabled = false;
          if (nextL >= (carousel.scrollWidth - carousel.clientWidth)) {
            rightBtn.disabled = true;
          }
        }

        window.addEventListener('resize', function(event) {
          updateButtonsVisibility();
        }, true);

    </script>
  </div>

</section>