<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d200ab848b.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="{{'/favicon.ico' | absolute_url}}">
  <link rel="stylesheet" href="{{'/assets/css/styles.css' | absolute_url}}">
</head>