<footer class="bgMainColor">
  <div id="footerLeft" >
      <div id="footerTitle">
          <img class="logo" src="{{ 'assets/images/logo.png' | relative_url }}"/>
          <div id="footerTitleTexts">
              <h1>{{ site.title-abbreviation}}</h1>
              <h4 style="font-weight: 600;" id="footerFullTitle">{{ site.title }}</h4>
          </div>
      </div>
  </div>
  <div id="footerRight" >
      <div id="footerLinks">
          <a class="fa-brands fa-instagram" href="https://www.instagram.com/archiyclub"></a>
          <a class="fa-brands fa-facebook" href="https://www.facebook.com/people/Archi-youth-club/61558986412097"></a>
          <a class="fa-brands fa-telegram" href="https://t.me/archi_y_club"></a>
          <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/company/archiyclub"></a>
          <a class="fa-brands fa-tiktok" href="https://www.tiktok.com/@archiyclub"></a>
      </div>
  </div>
  <h3 class="footerText">{{ site.email }}</h3>
  <h3 class="footerText" style="text-align: right;">{{ site.title | remove: " "}} &copy; {{ site.copyright-year }}. All Rights Reserved.</h3>
</footer>