<input type="checkbox" id="headerMenuButton">
<header>
  <div class="hflex">
    <a id="headerTitle" href="{{ '/' | relative_url }}">
      <img class="logo" src="{{ 'assets/images/logo.png' | relative_url}}"/>
      <div>
        <h1>{{ site.title }}</h1>
        <h4>{{ site.subtitle }}</h4>
      </div>
    </a>
    <nav>
      <label for="headerMenuButton" id="headerMenuButtonLabel"><i class="fa-solid fa-bars"></i></label>
      <div id="headerTextLinks">
        {% for item in site.data.navigation.pages %}
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
<div id="headerMenuAnchor">
  <div id="headerMenuContent">
    {% for item in site.data.navigation.pages %}
      <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
    {% endfor %}
  </div>
</div>