<a href="
{% if include.is_mention %}
{{ include.post.link }}
{% else %}
{{ include.post.url | relative_url }}
{% endif %}
 " class="boxContainer postBox">
  <img src="{{ include.post.cover }}">
  <h2 dir="auto" style="flex-grow: 2;">{{ include.post.title }}</h2>
  {% if include.is_mention %}
    <p dir="auto">{{ include.post.author }}</p>
  {% else %}
    {% assign author = site.authors | where: "name", include.post.author | first %}
    <p dir="auto">{{ author.display_name }}</p>
  {% endif %}
  <p>{{ include.post.date | date: "%d/%m/%Y" }}</p>
</a>