header {
  background-color: $main-color;
  color: $text-white;
  padding: 4px 10px;
  z-index: 22;
}

#headerTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: min(1.8rem, 4.0vw);

  h1 {
    max-height: min-content;
    font-size: $font-size-large;
    white-space: nowrap;
  }
  h4 {
    max-height: min-content;
    font-size: $font-size-small;
  }
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  font-size: $font-size-normal;

  a {
    padding: 0 10px;
  }
  a:not(:last-child) {
    border-right: solid 4px $text-white;
  }
}

#headerTextLinks {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-left: 2rem;
  white-space: nowrap;
  font-size: min(1em, 1.5vw); // Inherit size from 'nav', but be more aggressive with shrinking

  a {
    transition:
      text-shadow 0.1s;
  }
  a:hover {
    text-shadow: 3px 3px 0px $background-dark;
  }
}

#headerMenuButton {
  background: none no-repeat left center;
  background-image: none;
  display: none;
}

#headerMenuButtonLabel {
  font-size: 50px;
  display: block;
  cursor: pointer;
}

#headerMenuContent {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: min(3.5rem, 5vh); // Unique due to this only being visible on mobile
  background-color: $main-color;
  color: $text-white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  > a {
    width: 80%;
  }
  > a:not(:last-child) {
    border-bottom: solid 3px $text-white;
  }
  transform-origin: top;
  transform: scaleY(0.0) translateY(-40vh);
  transition: transform 0.2s ease-out, opacity 0.1s ease-out;
  opacity: 0.0;
  * {
    transition: transform 0.3s ease-out;
    transform: translateY(-20vh);
  }
}

#headerMenuAnchor {
  position: relative;
  left: 0;
  right: 0;
  // overflow: hidden;
}

#headerMenuButton:checked ~ #headerMenuAnchor {
  overflow: visible;
  min-height: 100%;

  #headerMenuContent {
    transform: scaleY(1.0) translateY(0);
    opacity: 1.0;
    * {
      transform: translateY(0);
    }
  }
}
