#language-en:checked {
  ~ .content-ar, ~ * .content-ar {
    display: none;
  }
}

#language-ar:checked {
  ~ .content-en, ~ * .content-en {
    display: none;
  }
}

.btn {
  font-size: $font-size-normal;
  font-weight: 700;
  display: inline-block;
  background-color: $inactive-color;
  padding: 3px 1em;
  margin-right: 0.5em;
  position: relative;
  text-align: center;
}

input[type="radio"].toggle {
  display: none;

  & + label {
    cursor: pointer;
    min-width: 60px;

    &:hover {
      color: $main-color;
    }
  }

  &:checked + label {
    background-color: $main-color;
    color: $text-white;

    &:after {
      left: 0;
    }
  }
}