$background-dark: #222;
$background-light: #fff;
$text-black: #000;
$text-white: #fff;
$main-color: #a52b2d;
$inactive-color: #939393;
$navigation-font-size: 25px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $main-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: min(1em, 3vw);
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  font-size: min(27px, 4.5vw);
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.logo {
  height: min(88px, 16vw);
  margin: min(0.5em, 1vw);
}

.hflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  border: solid $background-dark 4px;
  box-shadow: 10px 10px $main-color;
  margin-bottom: 18px;
  padding: 16px;
  background-color: #fff;
}

.noSelect {
  user-select: none;
  pointer-events: none;
}

.yesSelect {
  user-select: none;
  pointer-events: all;
}

span {
  display: inline-block;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid;
}

// Header Begin
header {
  background-color: $main-color;
  color: $text-white;
  padding: 4px 10px;
}

#headerTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: min(1.8em, 4.0vw);
}

#headerTitle h1 {
  white-space: nowrap;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  font-size: $navigation-font-size;
}

nav a {
  padding: 0 10px;
}

nav a:not(:last-child) {
  border-right: solid 4px $text-white;
}

#headerTextLinks {
  display: flex;
  flex-direction: row;
  gap: 0;
  font-size: min(1em, 1.8vw);
  white-space: nowrap;
}

#headerMenuButton {
  background: none no-repeat left center;
  background-image: none;
  display: none;
}

#headerMenuButtonLabel {
  font-size: 56px;
  display: block;
  padding: min(10px, 0.2vw) 50px;
  padding-right: 0;
  cursor: pointer;
}

#headerMenuContent {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  text-align: center;
  align-items: stretch;
  font-size: 200%;
  background-color: $main-color;
  color: $text-white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#headerMenuAnchor {
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

#headerMenuButton:checked ~ #headerMenuAnchor {
  overflow: visible;
  min-height: 100%;
}
// Header End

// Backgrounds Begin
.bgPaper {
  color: $text-black;
  background-color: $background-light;
  background-image: url("../images/paper.jpg");
}

.bgMainColor {
  color: $text-white;
  background-color: $main-color;
}
// Background End

// Text Colors Begin
.textMain {
  color: $main-color;
}
// Text Colors End

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postBox {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  max-height: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: min(30px, 3vw);
}


.postBox img {
  max-width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.postBox h2 {
  font-size: max(min(1.3em, 2.2vw), 22px);
  line-height: 1.5em;
  flex-grow: 1;
  max-height: 3.1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.postBox p {
  font-size: max(1em, 18px);
  line-height: 1em;
}

.contentBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #dcdcdc;
  background-image: url("../images/paper.jpg");
  background-blend-mode: difference;
  align-self: stretch;
  background-repeat: repeat repeat;
}

.contentDiv {
  flex-grow: 1;
  margin: 0;
  padding: 48px;
  width: 100%;
  min-width: 60vw;
}

.contentDiv img {
  max-width: 100%;
}

.mainImage {
  display: block;
  width: 100%;
  background-color: white;
  border-bottom: solid $main-color 16px;
}

.mainImageDiv {
  margin: 0;
  padding: 0;
  position: relative;
}

.mainImageText {
  position: absolute;
  bottom: 8px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: min(60px, 5vw);
  color: $text-white
}

.mainImageText:dir(ltr) {
  left: 0;
  padding-right: 0;
}

.mainImageText:dir(rtl) {
  right: 0;
  padding-left: 0;
}

.mainImageText > * {
  padding-left: 9px;
}

.mainImageText h1 {
  font-size: min(60px, 5vw);
}

p:dir(rtl) ~ .followSiblingP {
  text-align: right;
  padding-top: 6px;
}

// Page Specifics
.mentionBox {
  display: flex;
  flex-direction: column;
  border: solid $background-dark 4px;
  box-shadow: 10px 10px $main-color;
  margin-bottom: 18px;
  padding: 16px;
  text-decoration: none;
}

.mentionBox h1 {
  font-size: 1.5em;
}

.mentionBox img {
  aspect-ratio: 1.5;
  background-color: #ffc232;
  object-fit: contain;
  flex-grow: 1;
}

#articlesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  gap: min(64px, 3vw);
  align-items: start; /* Aligns items vertically */
  justify-items: center; /* Aligns items horizontally */
  text-decoration: none;
  color: $text-black;
  margin-bottom: 100px;
}

#articlesContainer a {
  text-decoration: none;
  color: $text-black;
  min-width: 100%;
  min-height: 100%;
}

.postImage {
  background: none;
  width: 100%;
  //max-height: 400px;
  aspect-ratio: 3.2;
  object-fit: cover;
}

.postImageText {
  padding: 0;
  overflow-wrap: break-word;
}

.postImageText h1 {
  max-width: 100vw;
  width: fit-content;
}

.postImageText > * {
  padding-right: 1.0rem;
}

.postInfo {
  font-size: 0.7em;
  color: #ddd;
  width: fit-content;
}

.author {
  font-weight: 700;
  color: $text-white;
}

.postContainer {
  flex-grow: 1;
  height: 100%;
  background-color: $background-light;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 1em 2em;
  padding-bottom: 5vh;
  font-size: 1.7em;
  word-spacing: 0.2em;
  line-height: 2.0;
}

.postContainer a {
  color: $main-color;
}

.postContainer img {
  display: block;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;

  align-self: center;
  align-items: center;

  object-fit: contain;
}

.postContainer span {
  width: 100%;
}

.postContainer p:has(> img) {
  font-style: normal;
  font-size: smaller;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  color: $inactive-color;
}

.contentDiv:has(> .postContainer) {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin: 0px 16px;
}

ul, ol {
  margin: 0 1em;
}

ul:has(> li p [dir="rtl"]), ol:has(> li p [dir="rtl"]) {
  direction: rtl;
}

#partnersPage h1 {
  color: $main-color;
  font-size: min(60px, 7vw);
}

#partnersPage p {
  text-align: justify;
  font-weight: 700;
  font-size: min(24px, 4vw);
}

#partnersPage .content-ar {
  margin-left: 8vw;
}

#partnersPage .content-en {
  margin-right: 8vw;
}

#partnerLinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#partnerLinksContainer a {
  flex-grow: 1;
  aspect-ratio: 1.8;
  min-width: 300px;
  max-width: 32%;
  padding: min(20px, 1vw);
}

#partnerLinksContainer a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}

.partnerBox:hover {
  transform: translateY(-10px)
}

.pagination {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
}

.pagination * {
  display: inline-block;
  height: 2em;
  width: 2em;
  margin: 0 2px;
}

.paginationButton {
  display: inline-block;
  background-color: $inactive-color;
}

.activePage {
  background-color: $main-color;
}

.paginationDir {
  font-size: 1.5em;
}

span.paginationDir {
  color: $inactive-color
}

#move {
  visibility: hidden;
  position: fixed;
  font-size: 1.5rem;
  padding: 0.4em;
  max-width: 50vw;

  .content-en, .content-ar {
    margin: 0;
  }
}
// End Page Specifics


/* Large screen */
@media (min-width: 992px) {
  #headerMenuButtonLabel {
    display: none;
  }
  .contentDiv {
    max-width: min(max(60vw, 1152px), 90vw);
  }
}

@media (max-aspect-ratio: 1/1) {
  header {
    padding-top: 0;
    margin-top: 0;
  }
  .logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  #headerTextLinks {
    display: none;
  }
  #headerMenuButtonLabel {
    display: block;
  }
  .contentDiv {
    padding: 32px;
    min-width: 100%;
  }
  .postContainer {
    font-size: min(2em, 5.2vw);
  }
  .postInfo {
    width: 100%;
  }
  .postImageText {
    position: relative;
  }
  .pagination {
    font-size: 1.4em;
  }
}

/* Small devices (768px and below) */
@media only screen and (max-width: 768px) {
  #articlesContainer {
    grid-template-columns: 1fr;
  }
}