.dropbox-embed-container {
  height: 100%;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;

  iframe {
    height: 100%;
    min-height: max(60vh, 95rem);
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio {
  overflow: hidden;
  > * {
    transform: translateY(-40px);
  }
}