/* Large screen */
@media (min-width: 992px), (min-aspect-ratio: 1.44) {
  #headerMenuButtonLabel {
    display: none;
  }
  .contentDiv {
    max-width: min(max(60vw, 1152px), 95vw);
  }
  .desktopOnly {
    display: block;
    visibility: visible;
  }
  .mobileOnly {
    display: none;
    visibility: hidden;
  }
}

@media (max-aspect-ratio: 1.44) {
  header {
    padding-top: 0;
    margin-top: 0;
  }
  .logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  #headerTextLinks {
    display: none;
  }
  #headerMenuButtonLabel {
    display: block;
  }
  .contentDiv {
    padding: 32px;
    min-width: 100%;
  }
  .homepageDiv {
    padding: 0;
  }
  .postInfo {
    width: 100%;
  }
  .postImage {
    aspect-ratio: 3/2;
  }
  .desktopOnly {
    display: none;
    visibility: hidden;
  }
  .mobileOnly {
    visibility: visible;
    display: block;
  }
  .postImageText {
    position: static;
    > * {
      min-width: 100%;
      width: 100%;
    }
  }
  .pagination {
    font-size: 1.4em;
  }
  #whoWeAre p, .join p {
    text-align: left;
  }
}

@media only screen and (max-aspect-ratio: 0.9) {
  .mainImage {
    aspect-ratio: 2.2;
    background-origin: border-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}

/* Small devices (768px and below) */
@media only screen and (max-width: 768px) {
  #articlesContainer {
    grid-template-columns: 1fr;
  }
  #headerTextLinks {
    display: none;
  }
  #headerMenuButtonLabel {
    display: block;
  }
}