---
layout: base
---
{% assign page_image = page.short_name | prepend: "/assets/images/page_" | append: ".png" %}
{% assign image_file = site.static_files | where: "path", page_image | first %}
{% if image_file %}
  <div class="mainImageDiv">
    <div class="mainImage" style="background-image: url({{image_file.path | relative_url}});"></div>
    <h1 class="mainImageText">{{ page.title }}</h1>
  </div>
{% endif %}
<div class="contentBackground">
  <div
    class="contentDiv mainContentDiv"
    id="contentHolder"
    style="position: relative;">
    <div class="bgPaper noSelect absoluteFill" style="z-index: -1;"></div>
    <section style="z-index: 10;">
      {{ content }}
    </section>
  </div>
</div>