---
layout: base
---
<div class="mainImageDiv">
  {% assign author = site.authors | where: "name", page.author | first %}

  <img class="mainImage postImage desktopOnly" src="{{ page.pageheader }}">
  <img class="mainImage postImage mobileOnly" src="{{ page.cover }}">
  <div class="mainImageText postImageText" dir="auto">
    <p class="postInfo bgMainColor">
      <span class="author">{{ author.display_name }}</span>
      │ {{ page.date | date: "%d/%m/%Y" }}</p>
    <h1 class="bgMainColor">{{ page.title }}</h1>
  </div>
</div>

<div class="contentBackground">
  <div class="contentDiv">
    <div
      class="postContainer"
      dir={% if page.rtl %}
      "rtl"
      {% else %}
      "auto"
      {% endif %}>
      {{ content }}
    </div>
  </div>
</div>