---
layout: base
---
<div class="mainImageDiv">
  {% assign author = site.authors | where: "name", page.author | first %}

  <img class="mainImage postImage" src="{{ page.pageheader }}">
  <div class="mainImageText postImageText" dir="auto">
    <h1 class="bgMainColor">{{ page.title }}</h1>
    <p class="postInfo bgMainColor">
      By
      <span class="author">{{ author.display_name }}</span>
      {{ page.date | date: "%d %B %Y" }}
    </p>
  </div>
</div>

<div class="contentBackground">
  <div class="contentDiv">
    <div class="postContainer" dir="auto">
      {{ content }}
    </div>
  </div>
</div>